html {
  font-size: 62.5%;
  /* 62.5% of 16px is 10px which is 1rem */
  min-height: 100%;
}

body {
  font-family: 'Source Code Pro', monospace;
  margin-top: 0px;
  margin-bottom: 0px;
  background: -moz-linear-gradient(top, $grad_1 0%, $grad_2 60%, $grad_3 100%);
  background: -webkit-gradient( left top, left bottom, color-stop(0%, $grad_1), color-stop(60%, $grad_2), color-stop(100%, $grad_3));
  background: -ms-linear-gradient(top, $grad_1 0%, $grad_2 60%, $grad_3 100%);
  background: linear-gradient(to bottom, $grad_1 0%, $grad_2 60%, $grad_3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b721ff', endColorstr='#21d4fd', GradientType=0);
  /* IE6-9 */
}

.myContainer {
  background-color: $base_bg;
  border-radius: 6px;
  border: 1px solid white;
  width: 84%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 6rem;
  padding: 0.8rem; // desktop size media queries at 1200px
  @media screen and (min-width: 1200px) {
    margin-top: 10rem;
  }
}

.module {
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  border-image: linear-gradient( to bottom, $grad_1, rgba(250, 112, 209, 0.6), rgba(33, 212, 253, 0.4), $base_bg) 1 100%;
}

a {
  cursor: pointer;
}