// Base Colors
$base_bg: #ECECEC;
$dark_text_color: #696969;
$light_text_color: #9D9D9D;
//gradient background color//
$grad_1: #f59609;
$grad_2: rgba(250, 112, 209, 0.8);
$grad_3: #21d4fd;
$color-black: #000;
$color-white: #fff;