<main class="myContainer">

  {{!-- Header Logo & Tagline --}}
  <a href="/"><img src="/images/logo.svg" alt="main logo" id="logo"></a>

  {{!-- Main Content --}}
  <section id="mainContent">

    <div id="introtocoding">
      <h1>Intro to Coding</h1>
      <h2>What is Coding</h2>
      <p>{{introtocoding}}</p>
      <img src="/images/coding.svg" alt="coding animation" id="codingexample">
      <img src="/images/icons/planets.svg" alt="planet" id="planet">
      <img src="/images/minecraftsword.svg" alt="minecraftsword" id="minecraftsword">
    </div>

    <div id="why">
      <h1>Why Codecraft</h1>
      <p>{{why}}</p>
      <div id="learningkids">
        <img src="/images/kidslearning1.png" alt="kids learning">
        <img src="/images/kidslearning2.png" alt="kids learning">
        <img src="/images/kidslearning3.png" alt="kids learning">
      </div>
    </div>

    <img src="/images/icons/polygon.svg" alt="polygon" id="polygon">

  </section>


  <ul id="social">
    <li><a href="http://www.youtube.com" target="_blank" id="yt"><i class="fab fa-youtube"></i></a></li>
    <li><a href="http://www.twitter.com" target="_blank" id="tw"><i class="fab fa-twitter"></i></a></li>
    <li><a href="http://www.instagram.com" target="_blank" id="pt"><i class="fab fa-instagram"></i></a></li>
    <li><a href="http://www.facebook.com" target="_blank" id="fb"><i class="fab fa-facebook-square"></i></a></li>
  </ul>

  <a href="/"><img src="/images/logo.svg" alt="main logo" id="footerlogo"></a>

  <p id="copyright">&copy; 2019 by Camillo Angelozzi</p>

  </section>
</main>